body {
    font-family: "Tahoma";
    color: blue;
    background-color: #ddddff;
    }

h1{
    color: rgb(92, 179, 150);
    text-align: center;
    font-size: 3.0em;
}

h2{
    color: deeppink;
    text-align: left;
}